#adminui-menu-item {
  margin-left: 10px;
  font-size: 0.9em;
}

#adminui-configure-metadata-table {
  width: 100%;
}

#adminui-configure-metadata-table td {
  border: 0;
}

#adminui-configure-metadata-table tr {
  border: 0;
}

#adminui-configure-metadata-table tr:nth-child(even) {
  background: white;
}