<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Ujjwal Arora</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	<require_modules>
        <require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
        <require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
        <require_module version="${uicommonsVersion}">org.openmrs.module.uicommons</require_module>
		<require_module version="${appuiVersion}">org.openmrs.module.appui</require_module>
		<require_module version="${providermanagementVersion}">org.openmrs.module.providermanagement</require_module>
		<require_module version="${webservicesRestVersion}">org.openmrs.module.webservices.rest</require_module>
    </require_modules>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AdminUiActivator</activator>
	

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<privilege>
		<name>App: ${project.parent.artifactId}.configuremetadata</name>
		<description>Able to access configure metadata app</description>
	</privilege>

</module>

